body {
  font-family: 'Source Sans Pro', sans-serif;
 }

.wrapper {
   background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eff9ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eff9ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eff9ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#eff9ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#eff9ff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#eff9ff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eff9ff',GradientType=0 ); /* IE6-9 */
  height: 1000px;
  width: 100%;
}

button:focus {
  outline: 0;
}

.btn {
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: rgba(229,71,49,.8);
  border-radius: 3px;
  font-weight: 200;
  transition: all .3s ease 0s;
}

.btn.stranger {
  width: 278px;
}

.btn.friend {
  width: 171px;
}

.btn.inline.family {
  width: 50px;
  padding: 18px;
}

.btn.animated {
  animation-duration: .2s;
  -webkit-animation-duration: .20s;
}

.btn:hover {
    background-color: rgba(229,71,49,1);
}

.btn:active {
    background-color: rgba(229,71,49,.2);
}

.btn img {
  width: 50px;
}

.btn span {
  position: relative;
  top: -19px;
  padding-right: 10px;
}

.btn.inline {
  background-image: url('img/account-settings-icon.png');
  background-size: 50px 50px;
  padding: 18px 15px 18px 50px;
background-repeat: no-repeat;
line-height: 15px;
}

#fmlr-console {
  width: 480px;
  background-color: rgba(240,245,245,1);
  font-weight: 200;
  position: fixed;
  bottom: 25px;
  height: 150px;
  left: 25px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    0px 15px 30px 0px rgba(50, 50, 50, 0.19);
  box-shadow:         0px 15px 30px 0px rgba(50, 50, 50, 0.19);
  overflow: hidden;
}

#fmlr-console.animated.bounceOutDown:hover {
  cursor: pointer;
  opacity: 1;
}

.fmlr-console-update-2 {
  transition: all 1s;
  -webkit-animation: consoleUpdate 2s; /* Chrome, Safari, Opera */
  animation: consoleUpdate 2s;
}

.fmlr-console-update {
  transition: all 1s;
  -webkit-animation: consoleUpdate 2s; /* Chrome, Safari, Opera */
  animation: consoleUpdate 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes consoleUpdate {
    from { color : rgba(227,72,56,1); }
    to { color : rgba(0,0,0,1); }
}

/* Standard syntax */
@keyframes consoleUpdate {
    from { color : rgba(277,72,56,1); }
    to { color: rgba(0,0,0,1); }
}


#fmlr-console ul {
  padding: 0;
  width: 50%;
  float: left;
}

#fmlr-console ul li {
  position: relative;
  list-style: none;
  padding: 5px;
  font-size: 14px;
}

#fmlr-console ul li:nth-child(odd) {
  background-color: #fafafa;
}

#fmlr-console ul li span:nth-child(1) {
  width: 140px;
  text-align: right;
  display: inline-block;
  padding-right: 5px;
}

#fmlr-console ul li span:nth-child(2) {
  font-weight: bold;
  border-left: 1px dotted rgba(220,225,225,1);
  display: inline-block;
  width: 60px;
  text-align: left;
  padding-left: 8px;
  transition: all 1s;
}

#fmlr-console-title {
  background-color: rgba(48,187,230,1);
  color: #fff;
  border-bottom: 3px solid rgba(220,225,225,1);
  padding: 8px;
  position: relative;
}

#fmlr-console-close, #fmlr-console-open {
  display: inline-block;
  font-weight: normal;
  position: absolute;
  top: 6px;
  right: 8px;
  background-color: rgba(255,255,255,.5);
  color: rgba(42,180,223,1);
  transition: all .25s;
  height: 24px;
  width: 21px;
  line-height: 21px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(42,180,223,1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(42,180,223,1);
  box-shadow: 0px 3px 0px 0px rgba(42,180,223,1);
  font-size: 24px;
  padding-left: 3px;
}

.fmlr-local, .fmlr-global {
  display: inline-block;
  font-weight: normal;
  background-color: rgba(255,255,255,.5);
  color: rgba(42,180,223,1);
  transition: all .25s;
  border: 0;
  outline: 0;
  font-size: 14px;
  line-height: 21px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(42,180,223,1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(42,180,223,1);
  box-shadow: 0px 3px 0px 0px rgba(42,180,223,1);
  padding: 0 8px;
  margin-left: 8px;
}

#fmlr-console-close {
}
#fmlr-console-open {
}

#fmlr-console-open {
  display: none;
}

#fmlr-console.bounceOutDown #fmlr-console-close {
  display: none;
}
#fmlr-console.bounceOutDown #fmlr-console-open {
  display: inline-block;
}

#fmlr-console-close:hover, #fmlr-console-open:hover, .fmlr-local:hover, .fmlr-global:hover, .fmlr-local.selected, .fmlr-global.selected {
  cursor: pointer;
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 3px 0px 0px rgba(32,170,213,1);
  -moz-box-shadow:    0px 3px 0px 0px rgba(32,170,213,1);
  box-shadow:         0px 3px 0px 0px rgba(32,170,213,1);
}
#fmlr-console-most-recent-time, #fmlr-console-previous-time {
  overflow: hidden;
  width: 65px;
  height: 14px;
  display: block;
}

#fmlr-console-most-recent-time:hover, #fmlr-console-previous-time:hover {
  cursor: pointer;
  width: 200px;
  display: block;
  position: absolute;
  overflow: visible;
  top: 0;
  left: 140px; 
  z-index: 1000;
}

.view-familiarity-level, .set-familiarity-level {
  padding: 8px;
  text-align: center;
  display: block;
}

.view-familiarity-level .console-btn, .set-familiarity-level .console-btn {
  display: inline-block;
  font-weight: 200;
  background-color: rgba(100,100,100,1);
  color: rgba(240,245,245,1);
  transition: all .25s;
  height: 24px;
  line-height: 21px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(220,225,225,1));
  -moz-box-shadow: 0px 3px 0px 0px rgba(220,225,225,1);
  box-shadow: 0px 3px 0px 0px rgba(220,225,225,1);
  outline: 0;
  border: 0;
  font-size: 15px;
  padding: 0 8px 1px 8px;
    margin: 0 3px;
}

.view-familiarity-level .console-btn.selected, .set-familiarity-level .console-btn.selected {
  background-color: rgba(180,180,180,1);
}

.fmlr-xpath {
  font-size: 12px;
  color: #8a8a8a;
}

.view-familiarity-level .console-btn:hover, .set-familiarity-level .console-btn:hover {
  cursor: pointer;
  background-color: rgba(229,71,49,1);
}

.fmlr-id {
  margin: 0;
}

.fmlr-console-container {
  padding: 8px;
}

.fmlr-local-console {
  top: 53px;
}

.fmlr-global-console {
  top: 37px;
}

.fmlr-local-console, .fmlr-global-console {
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: all .25s;
}

.fmlr-local-console.fmlr-hide {
}

.fmlr-local-console.fmlr-hide, .fmlr-global-console.fmlr-hide {
  opacity: 0;
}